// Colors
$color-primary: #4aae34;
$color-accent: #f2cb31;
$color-accent2: #f0801b;
$color-text: #49535e;
$color-gray: #d7d7d7;
$color-gray2: #868888;
$color-secondary-green: #a2c83a;
$color-secondary-peach: #f9cca4;
$color-secondary-bg: #D0EA88;

// Font Names
$font-primary: "OpenSans";
$font-secondary: "Interstate";

//==================================//
// Don't miss with those variabeles //
//==================================//

// Breakpoint
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Black & White
$color-black: #000000;
$color-white: #ffffff;

//Font Path
$font-primary-light-path: "../fonts/" + $font-primary + "/" + $font-primary + "-Light.ttf";
$font-primary-regular-path: "../fonts/" + $font-primary + "/" + $font-primary + "-Regular.ttf";
$font-primary-semibold-path: "../fonts/" + $font-primary + "/" + $font-primary + "-Semibold.ttf";
$font-primary-bold-path: "../fonts/" + $font-primary + "/" + $font-primary + "-Bold.ttf";

$font-secondary-light-path: "../fonts/" + $font-secondary + "/" + $font-secondary + "-Light.ttf";
$font-secondary-regular-path: "../fonts/" + $font-secondary + "/" + $font-secondary + "-Regular.ttf";
$font-secondary-bold-path: "../fonts/" + $font-secondary + "/" + $font-secondary + "-Bold.ttf";

//Font Family
$font-primary-light: $font-primary + " Light";
$font-primary-regular: $font-primary + " Regular";
$font-primary-semibold: $font-primary + " SemiBold";
$font-primary-bold: $font-primary + " Bold";

$font-secondary-light: $font-secondary + " Light";
$font-secondary-regular: $font-secondary + " Regular";
$font-secondary-bold: $font-secondary + " Bold";
