.btn {
	padding: 14px 18px;
	border-radius: 8px;
	min-width: 136px;

	&.btn-primary {
		background-color: $color-primary;
		color: $color-white;
		border-color: $color-primary;
		&:focus,
		&:hover,
		&:active {
			background-color: #1d7d1a !important;
			border-color: #1d7d1a !important;
		}
	}
	&.btn-outline-primary {
		border: 2px solid $color-primary !important;
		&:focus,
		&:hover,
		&:active {
			background-color: $color-primary !important;
			color: $color-white;
		}
	}
	&:disabled {
		background-color: #a5e685 !important;
		border-color: #a5e685 !important;
		cursor: not-allowed;
		color: $color-white !important;
	}
	&:focus {
		box-shadow: none !important;
	}
}

.link {
	font-family: $font-primary-bold;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	color: $color-primary;
	svg {
		margin-left: 12px;
		path {
			stroke: $color-primary;
		}
	}
	&:hover,
	&:active,
	&:focus {
		color: #1d7d1a;
		svg {
			path {
				stroke: #1d7d1a;
			}
		}
	}
	&:visited {
		color: $color-accent;
		svg {
			path {
				stroke: $color-accent;
			}
		}
		&:hover {
			color: #1d7d1a;
			svg {
				path {
					stroke: #1d7d1a;
				}
			}
		}
	}
}

.nav-link {
	display: inline-block;
	&:hover,
	&:active {
		color: $color-primary;
	}
}
