.main-header {
	display: flex;
	.info-panel {
		@include flex(center, flex-start);
		margin-top: 36px;
		& > div {
			display: flex;
			&:not(:last-child){
				border-right: 1px solid $color-gray2;
				padding-right: 24px;
				margin-right: 24px;
			}
		}
		.button{
			color: $color-text;
			margin-left: 8px;
			margin-right: 12px;
		}
	}
}
