.home-page {
	.product-cat {
		margin-bottom: 150px;
		position: relative;
		.bg-illustrations {
			.bg-illus:nth-child(1) {
				top: -100px;
				left: -91px;
			}
			.bg-illus:nth-child(2) {
				bottom: 40px;
				right: -250px;
			}
			.bg-illus:nth-child(3) {
				bottom: -180px;
				left: -250px;
			}
		}
		.cetegories {
			& > div {
				.cta {
					padding: 43px 48px;
					border-radius: 4px;
					background-color: $color-white;
					border: 1px solid $color-gray;
					height: 250px;
					h4 {
						margin-bottom: 36px;
					}
				}
				.cetegory {
					border: 1px solid $color-gray;
					margin-bottom: 18px;
					padding: 24px;
					height: 250px;
					background-repeat: no-repeat;
					background-position: bottom right;
					border-radius: 4px;
					background-color: $color-white;
				}
				@include for-size(tablet-landscape-down) {
					.cetegory {
						height: 220px;
						padding: 21px;
						margin-bottom: 24px;
					}
					.cta {
						margin-bottom: 24px;
						height: 220px;
						padding: 17px 24px;
						h4 {
							margin-bottom: 18px;
						}
					}
				}
				@include for-size(tablet-portrait-down) {
					.cta {
						padding: 17px 24px;
						height: 172px;
						padding: 19px 24px;
					}
				}
			}
		}
		@include for-size(tablet-landscape-down) {
			margin-bottom: 72px;
			.bg-illustrations {
				.bg-illus:nth-child(1) {
					top: -100px;
					left: -91px;
				}
				.bg-illus:nth-child(2) {
					display: none;
				}
				.bg-illus:nth-child(3) {
					left: auto;
					right: -80px;
					bottom: -90px;
				}
			}
		}
		@include for-size(tablet-portrait-down) {
			.bg-illustrations {
				.bg-illus:nth-child(1) {
					width: 100px;
					top: -90px;
					left: 0;
				}
				.bg-illus:nth-child(3) {
					right: 0px;
					bottom: -150px;
					width: 130px;
				}
			}
		}
	}
	.special-product {
		margin-bottom: 150px;

		.background {
			margin-bottom: 48px;
			height: 450px;
			border-radius: 4px;
			background: linear-gradient(0deg, rgba(36, 43, 51, 0.35), rgba(36, 43, 51, 0.35)),
				url(../img/backgrounds/special-product.jpg);
			padding: 42px 36px;
			background-position: center;
			h1 {
				color: $color-white;
				text-align: right;
			}
		}
		.carousel-holder {
			height: 446px;
		}
		&__carousel {
			.item {
				width: 260px;
				height: 446px;
				position: relative;
				background-color: $color-white;
				border: 1px solid $color-gray;
				overflow: hidden;
				border-radius: 4px;
				display: flex;
				flex-direction: column;
				&__status {
					position: absolute;
					padding: 10px;
					text-align: center;
					top: 27px;
					left: -81px;
					color: $color-white;
					width: 130%;
					border-radius: 4px;
					transform: rotate(-28deg);
					&.warning {
						background-color: $color-accent2;
					}
					&.danger {
						background-color: #f5665f;
					}
					&.success {
						background-color: $color-secondary-green;
					}
					&.new {
						background-color: $color-accent;
						color: $color-text;
					}
				}
				&__body {
					padding: 16px 24px;
					position: relative;
					background-color: #f9f9f9;
					flex: 1;
					display: flex;
					flex-direction: column;
					&__btn {
						position: absolute;
						top: -27px;
						right: 24px;
						border-radius: 50%;
						padding: 15px;
						max-width: 48px;
						max-height: 48px;
						min-width: 48px;
					}
					&__title {
						margin-bottom: 8px;
						font-size: 20px;
					}
					&__details {
						margin-bottom: 16px;
						color: $color-gray2;
					}
					&__value {
						color: $color-primary;
						margin-top: auto;
					}
				}
			}
			.owl-nav {
				position: absolute;
				top: 50%;
				right: -70px;
				left: -70px;
				transform: translateY(-50%);
				@include flex(space-between, center);
			}
		}

		@include for-size(tablet-landscape-down) {
			&__carousel {
				position: absolute;
				.owl-nav {
					display: none;
				}
			}
		}
		@include for-size(tablet-portrait-down) {
			margin-bottom: 52px;
			.background {
				height: 352px;
				background-position: 40% 25%;
				margin-bottom: 70px;
			}
			.carousel-holder {
				height: auto;
			}
			&__carousel {
				position: static;
				.item {
					width: 100%;
					height: 200px;
					margin-bottom: 15px;
					flex-direction: row;
					align-items: center;
					margin-bottom: 18px;
					&__status {
						top: 19px;
						left: -184px;
						width: 100%;
					}
					&__img {
						flex: 1;
					}
					&__body {
						height: 100%;
						padding: 24px;
						&__btn {
							display: none;
						}
						&__details {
							max-width: 86px;
						}
					}
				}
			}
			.owl-stage {
				transform: none !important;
				width: 100% !important;
				display: flex;
				flex-direction: column;
			}
			.owl-item {
				margin-right: 0 !important;
			}
		}
	}
	.deals {
		margin-bottom: 123px;
		position: relative;
		&__carousel {
			.carousel-container {
				background-repeat: no-repeat;
				background-position: center;
				background-color: #fcfcfc;
				position: relative;
				border-radius: 8px;
				&.one {
					padding: 40px 103px;
					background-image: url(../img/backgrounds/dealsCarousel/1.jpg);
					background-size: contain;
					h2 {
						margin-bottom: 24px;
						max-width: 478px;
					}
					.btn {
						padding: 14px 65px;
					}
					p {
						position: absolute;
						bottom: 16px;
						right: 16px;
						text-align: right;
						max-width: 141px;
					}
				}
				&.two {
					background-image: url(../img/backgrounds/dealsCarousel/2.jpg);
					padding-top: 63px;
					padding-bottom: 84px;
					padding-left: 100px;
					background-size: cover;
					p {
						color: $color-accent2;
						font-family: $font-primary-bold;
						margin-bottom: 9px;
						text-transform: uppercase;
						font-size: 24px;
					}
					h2 {
						margin-bottom: 9px;
						color: $color-accent2;
						span {
							color: $color-primary;
						}
					}
					.button {
						color: $color-text;
						margin-bottom: 40px;
						display: block;
					}
				}
				&.three {
					background-image: url(../img/backgrounds/dealsCarousel/3.jpg);
				}
				&.four {
					background-image: url(../img/backgrounds/dealsCarousel/4.jpg);
				}
			}
			.owl-nav {
				position: absolute;
				top: 50%;
				right: 0;
				top: -100px;
				transform: translateY(-50%);
				button {
					&:first-child {
						margin-right: 24px;
					}
				}
			}
		}
	}
}
